*{
    box-sizing: border-box;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1{font-size: 3.5em;}
h1{font-size: 2.7em;}
h1{font-size: 2em;}
p{font-size: 1.25}
ul{list-style: none;}


button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px, 30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px, 2px, 10px rgba(0,0,0,0.5);
    color: white;
    background-color:red;

}
button:hover{
    background-color: rgb(133, 18, 18);
}

.contenedor{
    max-width: 1250px;
    margin: auto;
}

.color-acento{
    color: red;
}

header{
    display: flex;
    min-height: 70px;
    background-color: rgb(245, 245, 245);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    color: red;
    font-size: 1.45em;
}

header img{
    height: 50px;
    margin-right: 10px;
}


header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px, 12px;
    padding-bottom: 25px, 12px;
}

header a{
    padding: 5px, 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: red;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("images/Logo.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#somossjb{
    color: white;
    background-color: rgb(45,45,45);
}

#somossjb .contenedor{
    text-align: center;
    padding: 75px 12px;
}

#somossjb div.boton{
    display:block;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    
    
}

#misionyvision{
    color: white;
    background-color: rgb(30,30,30);
    text-align: center;
}

#misionyvision h1{
    margin-top: 0;
}

#misionyvision .contenedor{
    padding: 150px 12px;
}
#misionyvision p{
    display:;
}

#misionyvision .carta{
    padding: 30px;
    margin: 12px;
    border-radius: 15px;
}

.carta:first-child{
    background-color: rgb(15,15,15);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("images/Mision.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carta:nth-child(2){
    background-color: rgb(15,15,15);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("images/Vision.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#caracteristicas .contenedor{
    text-align: initial;
    margin-top: 0;
    padding: 200px, 12px;
}
    #caracteristicas form{
    display: flex;
    padding-left: 40px;
}

#caracteristicas li{
    margin: 16px, 0px;
    font-weight: bold;
}

#contactanosya {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(45,45,45);
    color: white;
    height: 70vh;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .contenedor{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-left: 10px;
        padding-bottom: 0;
        padding-right: 30px;
    }

    header a{
        font-weight: 600;
        padding-right:12px;
    }


    #somossjb .contenedor{
        display: flex;
    } 

    #somossjb h2{
        font-size: 3em;
        padding-bottom: 25px;
    }

    #somossjb .texto{
        width: 50%;
        text-align: center;
        padding: 0px, 0px;
        max-width: 600px;
        display:flex;
        align-items: initial;
        flex-direction: column;
        justify-content: center;
    }

    #somossjb .img-contenedor{
        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("images/Profesores.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 850px;
    height: 500px;
    }

    #misionyvision .secciones{
        display: flex;
        justify-content: center;
    }

    #misionyvision h2{
        margin-top: 0;
    }

    #misionyvision p{
        display: block;
        margin-bottom: 30px;
    }

    #misionyvision .carta{
        padding: 15px;
    }

    #caracteristicas{

    }

    #caracteristicas form{
        display: flex;
        padding-left: 40px;
    }

    #caracteristicas .contenedor{
        text-align: initial;
    }
}